/* JS Spinner */
.sk-double-bounce {
    width: 30px;
    height: 30px;
    position: relative;
    margin: 40px 0;

    .sk-child {
        width: $full;
        height: $full;
        background: $darker;
        opacity: .5;
        position: absolute;
        top: 0;
        left: 0;
        @include rounded--corners(50%);
        @include animations(sk-doubleBounce 2s infinite ease-in-out);
    }

    .sk-double-bounce2 {
        -webkit-animation-delay: -1.0s;
        animation-delay: -1.0s; 
    }

    @-webkit-keyframes sk-doubleBounce {
        0%, 
        100% {
            -webkit-transform: scale(0);
            transform: scale(0); 
        }
    
        50% {
            -webkit-transform: scale(1);
            transform: scale(1); 
        }
    }
      
    @keyframes sk-doubleBounce {
        0%, 
        100% {
            -webkit-transform: scale(0);
            transform: scale(0); 
        }
        
        50% {
            -webkit-transform: scale(1);
            transform: scale(1); 
        }
    }
}